# git submodule update --init --recursive
[url "https://"]
	insteadOf = git://
[http]
	proxy = http://192.168.1.28:8080
[https]
	proxy = https://192.168.1.28:8080
[user]
	name = ubikwita
	email = ubikwita@gmail.com
